.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #ff6633, #f6402d);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0 0 0;
}
.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}
.header__navbar-item,
.header_navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.header__navbar-item,
.header_navbar-item-link,
.header__navbar--icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item--strong {
  font-weight: 400;
}
.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: #f97262;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}
.header__navbar-item:hover,
.header_navbar-item-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}
.header__navbar--icon-link {
  color: var(--white-color);
  text-decoration: none;
}
.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}
.header_navbar-title-no-pointer {
  cursor: text;
  color: var(--white-color);
}
/* Header QR code */

.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  left: 0;
  top: 118%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__qr::before {
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: -16px;
  content: "";
  display: block;
}
.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__qr-img {
  width: 100%;
}
.header__qr-apps {
  display: flex;
  justify-content: space-between;
}
.header_qr-download-img {
  height: 16px;
}
.header__qr-link:nth-child(1) {
  margin-left: 11px;
}
.header__qr-link:nth-child(2) {
  margin-right: 11px;
}
/* Notification */
.header__notify {
  position: absolute;
  top: 118%;
  right: 0;
  width: 404px;
  border: 1px solid #d3d3d3;
  background: var(--white-color);
  cursor: default;
  transform-origin: calc(100% - 20px) top;
  animation: headerNotifyGrowth ease-in 0.2s;
  display: none;
}
.header__notify::before {
  content: "";
  border-style: solid;
  border-width: 20px 27px;
  position: absolute;
  border-color: transparent transparent var(--white-color) transparent;
  will-change: opacity, transform;
  right: 4px;
  top: -29px;
}
.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 20px;
  right: 0;
  top: -16px;
}
.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background: var(--white-color);
}
.header__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  cursor: text;
}
.header__notify-list {
  padding-left: 0;
}
.header__notify-item {
  display: flex;
}
.header__notify-item:hover {
  background: #f7f7f7;
}
.header__notify-item--viewed {
  background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
  /* background-color: rgba(238, 75, 43, 0.08); */
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--black-color);
  margin-bottom: 8px;
  line-height: 1.8rem;
}

.header__notify-description {
  display: block;
  font-size: 1.2rem;
  color: #765f6e;
  line-height: 1.6rem;
  margin-top: 4px;
}
.header__notify-footer {
  display: flex;
}
.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  margin: auto;
  padding: 8px 32px;
  font-size: 1.5rem;
  font-weight: 400;
}
/* Authen modal */
.auth-form {
  width: 500px;
  background: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-form__container {
  padding: 0 32px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 10px;
}
.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}
.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}
.auth-form__form {
}
.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}
.auth-form__input:focus {
  border-color: #777;
}
.auth-form__aside {
  margin-top: 20px;
}
.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
  color: var(--text-color);
}
.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}
.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}
.auth-form__controls-back {
  margin-right: 8px;
}
.auth-form__socials {
  background: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.auth-form__socials-icon {
  font-size: 1.8rem;
}
.auth-form__socials--facebook {
  background: #3a5a98;
  color: var(--white-color);
}
.auth-form__socials--facebook,
.auth-form__socials-icon {
  color: var(--white-color);
}
.auth-form__socials-title {
  margin: 0 36px;
}
.auth-form__socials--google {
  background: var(--white-color);
  color: #666;
}
.auth-form__help {
  display: flex;
  justify-content: flex-end;
}
.auth-form_help-separate {
  display: block;
  height: 22px;
  border-left: 1px solid var(--border-color);
  margin: -2px 16px 0;
}
.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}
.auth-form__help-forgot {
  color: var(--primary-color);
}
.header-with-search {
  height: var(--header-width-search-height);
  display: flex;
  align-items: center;
}
.header__logo {
  width: 200px;
}

.header__logo-img {
  width: 150px;
  color: var(--white-color);
}

.header__search {
  flex: 1;
  height: 40px;
  border-radius: 2px;
  background: var(--white-color);
}
.header__cart {
  width: 150px;
  text-align: center;
  margin-top: 6px;
}
.header__cart-icon {
  color: var(--white-color);
  font-size: 2.5rem;
}
